*, body, div, dl, dt, dd, ul, ol,li, h1,h2,h3,h4,h5,h6,pre,form,input,p,td,img,a,table,address
{margin: 0; padding: 0;}

h1,h2,h3,h4,h5,h6,li,p,td, address, label
{font-size: 12px;}

ol,ul
{list-style: none;}


address
{font-style: normal; font-weight: normal;}

img
{border:0;}

a
{text-decoration: none;}

body {
	font-family: "Lucida Sans", Helvectica, sans-serif;
	background: url("../images/AB_CitySurfaces.jpg") no-repeat -450px 85px;
}

#top-container {
	background-color: #333;
	border-bottom: 1px solid #4D4D4D;
	height: 117px;
}

header
{
	color: #B3B3B3;
	font-weight: lighter;
	width: 598px;
	height: 117px;
	margin: 0 auto;
}

header h1
{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 135px;
	height: 117px;
	float: left;
	background: url("../images/page_title.png") no-repeat 0 50px;
}

h1 a {
	width: 135px;
	height: 117px;
	display: block;
}

header ul {
	background: url("../images/video.png") no-repeat 0 0;
	text-transform: uppercase;
	float: left;
	padding: 48px 0 55px 10px;
}

header li {
	float: left;
	margin-right: 100px;
}

.last {
	margin-right: 0;
}

nav a {
	color: #666;
	padding: 0 30px 20px 10px;
}


nav a:hover
{
	color: #CCC;
	background: url("../images/nav_selected.png") no-repeat 0 17px;
}

.selected
{
	color: #FC0;
	background: url("../images/nav_selected.png") no-repeat 0 17px;
}

#middle {
	background: url("../images/crustry_bkgd.jpg") no-repeat;
	background-size: cover;
}

.swatch {
	background-color: rgba(0,0,0,.7);
}

#main {
	width: 80%;
	margin-left: 25%;
}

.widescreen {
	width: 100%;
	margin: 0 auto;
}

#portfolio_nav {
	width: 200px;
	float: left;
}

#portfolio_nav img {
	margin-right: 10px;
}
.arrow {
	transition-property: transform;
	transition-duration: .5s;
	
	-webkit-transition-property: transform;
	-webkit-transition-duration: .5s;
}

.arrow:hover {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.portfoliolinks
{
	color: #B3B3B3;
	padding: 8px 0 8px 20px;
	border-bottom: 1px solid #4D4D4D;
}

.first-portfolio_link {
	color: #B3B3B3;
	padding: 8px 0 8px 37px;
	border-bottom: 1px solid #4D4D4D;
}

article {
	font-weight: lighter;
	color: #B3B3B3;
	background-color: rgba(0,0,0,.6);
	width: 60%;
	padding: 40px 15px 60px 25px;
	margin: 0 auto;
	float: left;
}

article h1
{
	color: #933;
	font-family: 'Zeyada', cursive;
	font-weight: lighter;
	font-size: 2.1em;
	margin-bottom: -18px;
}

article p {
	padding-bottom: 20px;
}

label {
	color: #FC0;
}

input {
	margin-top: 3px;
	margin-bottom: 20px;
}

textarea {
	margin-top: 3px;
}

#bottom-container {
	background-color: #333;
	color: #B3B3B3;
	height: 72px;
	border-top: 1px solid #4D4D4D;
}

#social {
	width: 247px;
	padding: 17px 19px 17px 0;
	float: right;
}

footer ul {
	float: left;
}


.copy {
	width: 160px;
	float: left;
	padding: 29px 0 20px 29px;
}

.phone {
	float: left;
	padding: 10px 10px 10px 0;
	border-right: 1px solid #4D4D4D;
}

footer a {
	color: #B3B3B3;
}

footer a:hover {
	color: #FC0;
}

/*SPRITES*/

.social-nav li {
	float: left;
	padding-left: 10px;
}

.social-nav li a {
	display: block;
	width: 38px;
	height: 38px;
	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.twitter {
	background: url('../images/social_sprite.png') no-repeat 0 0;
}

.twitter:hover {
	background: url('../images/social_sprite.png') no-repeat 0 -46px;
}

.email {
	background: url('../images/social_sprite.png') no-repeat -47px 0;
}

.email:hover {
	background: url('../images/social_sprite.png') no-repeat -47px -46px;
}

.facebook {
	background: url('../images/social_sprite.png') no-repeat -92px 0;
}

.facebook:hover {
	background: url('../images/social_sprite.png') no-repeat -92px -46px;
}

/*Clearfix*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}